<br>
<br><br>

<div class="row" id="qr" hidden>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Payment</h1>
        <div id = "codeqr">
            <div class="form-group">
                <label for="">Please scan the below QR for payment</label>
            </div>
            <div>
                <ngx-qrcode
                    [elementType]="elementType"
                    [errorCorrectionLevel]="correctionLevel"
                    [value]="value"
                    cssClass="bshadow">
                </ngx-qrcode>
            </div>
        </div>
        <br>
        <div id="pmntdn"><button (click)="onSuccessfulPayment()" class="btn btn-success">Payment Done</button></div>
        
    </div>
</div>

<div class="row" id = "upiref" hidden>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div>
            <h1>Payment</h1>
            <div class="form-group">
                <label for="">Please enter payment ref number</label>
                <input [(ngModel)]="payref" type="text" class="form-control">
            </div>
        </div>
    
        <br>
        <div id="cmpltord" ><button (click)="onCompleteOrder()" class="btn btn-success">Complete Order</button></div>
    </div>
</div>

<div id="dlvinst">
<h1>Delivery Information </h1>

<div class="col-md-3"></div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="">Doctor Name</label>
            <input [(ngModel)]="drname" type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">PhoneNo</label>
            <input [(ngModel)]="phoneno" type="number" class="form-control">
        </div>
    </div>

</div>



<div class="col-md-3"></div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Payment Mode</label>
            <select (change)="changetext()" [(ngModel)]="PaymentMode" class="form-control" >
                <option value = "Cash" >Cash</option>
                <option value= "Cheque" >Cheque</option>
                <option value = "UPI" >UPI</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">State</label>
            <input [(ngModel)]="state" type="text" class="form-control">
        </div>
    </div>

</div>

<div class="col-md-3"></div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">City</label>
            <input [(ngModel)]="city" type="text" class="form-control">
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Pincode</label>
            <input [(ngModel)]="pincode" type="number" class="form-control">
        </div>
    </div>

</div>



<div class="col-md-3"></div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Address</label>
            <textarea [(ngModel)]="address" name="address" rows="4" class="form-control"></textarea>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Add Prescription</label>
            <input (change)="onSelectImage($event)" type="file" class="form-control">
        </div>
    </div>

</div>


<div class="col-md-3"></div>

<div class="row">
    <div class="col-md-3">
        <button id="paybtn" (click)="onproceedpay()" class="btn btn-success" ></button>
        <a style="margin-left: 10px;" routerLink="/MRlogin/cart" class="btn btn-danger">Cancel</a>
    </div>
</div>
</div>
