<br><br><br>

<div class="gap"></div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login">

            <h1>About</h1>

            <div class="form-group">
                <p>Welcome to <b>MediZone</b> , your one-stop destination for all your medicine and healthcare needs. Our online platform is designed to make buying medicine easy, safe, and convenient for you. Whether you need over-the-counter medication
                    or prescription drugs, we have it all under one roof. Our wide range of products includes everything from vitamins and supplements to prescription drugs for chronic conditions.</p>
            </div>

            <div class="form-group">
                <button (click)="onexplore()" class="btn btn-success">Explore</button>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>