<br><br><br>

<h1>Consult a Doctor</h1>

<div class="col-md-3"></div>

<div class="row">


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Patient Name</label>
            <input [(ngModel)]="patientname" type="text" class="form-control">
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Health Problem</label>
            <input [(ngModel)]="healthproblem" type="textarea" class="form-control">
        </div>
    </div>

</div>

<div class="col-md-3"></div>


<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Phone No.</label>
            <input [(ngModel)]="phoneno" type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="email" type="text" class="form-control">
        </div>
    </div>

</div>

<div class="col-md-3"></div>

<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">City</label>
            <input [(ngModel)]="city" type="text" class="form-control">
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Doctor</label>
            <!-- <input [(ngModel)]="doctorname" type="text" class="form-control"> -->
            <select [(ngModel)]="doctorname" class="form-control">
                <option *ngFor="let c of doc" [value]="c.name">{{c.name}} [{{c.degree}}]</option>
            </select>
        </div>
    </div>

</div>

<div class="col-md-3"></div>

<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Appointment Date</label>
            <input [(ngModel)]="appointmentdate" type="date" class="form-control">
        </div>
    </div>


</div>

<div class="col-md-3"></div>

<div class="row">
    <div class="col-md-3">
        <button (click)="addConsultation()" class="btn btn-success">Book Appointment</button>
        <!-- <a style="margin-left: 10px;" routerLink="#" class="btn btn-success">Login</a> -->
    </div>
</div>