<br><br><br>

<h1>Consult a Doctor</h1>

<div class="col-md-3"></div>

<div class="row">


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Patient Name</label>
            <input type="text" class="form-control">
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Health Problem</label>
            <input type="textarea" class="form-control">
        </div>
    </div>

</div>

<div class="col-md-3"></div>


<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Phone No.</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control">
        </div>
    </div>

</div>

<div class="col-md-3"></div>

<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label for="">City</label>
            <input type="text" class="form-control">
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group">
            <label for="">Doctor</label>
            <input type="text" class="form-control">
        </div>
    </div>

</div>

<div class="col-md-3"></div>

<div class="row">
    <div class="col-md-3">
        <button class="btn btn-success">Book Appointment</button>
        <!-- <a style="margin-left: 10px;" routerLink="#" class="btn btn-success">Login</a> -->
    </div>
</div>