<br><br><br>

<button (click)="dashboard()" class="btn btn-default" style="margin-top: 10px;">Dashboard</button>

<h1>Doctors List</h1>


<button (click)= "onAddDR()" class="btn btn-primary pull left">Add DRs</button> <br><br>

<table class="table table-striped table-bordered">

<thead>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>PhoneNo</th>
    <th>Degree</th>
    <th>Action</th>
</tr>
</thead>

<tbody>
    <tr *ngFor="let dr of drs;let index = index">
        <td>{{index+1}}</td>
        <td>{{dr.name}}</td>
        <td>{{dr.email}}</td>
        <td>{{dr.phoneno}}</td>
        <td>{{dr.degree}}</td>
        <td ><button (click)="ondelete(dr._id)" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i></button></td>
    </tr>


</tbody>


</table>