<br><br><br>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login">

            <h1>Forgot Password</h1>

            <div class="form-group">
                <p>To reset your password, please enter your email.</p>
                <label for="">Your Email</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Confirm Your Email</label>
                <input type="text" class="form-control">
            </div>


            <div class="form-group">
                <button (click)="onconfirm()" class="btn btn-default">Confirm</button>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
