<br><br><br>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login">

            <h1>Forgot Password</h1>

            <div class="form-group" >
                <p>To reset your password, please enter your email.</p>
                <label for="">Your Email</label>
                <input id="entry" [(ngModel)]="email" type="text" class="form-control">
            </div>


            <div class="form-group" id = "validate">
                <button (click)="onvalidate()" class="btn btn-success">Validate</button>
            </div>

            <div class="form-group" id = "confirm" hidden="hidden">
                <button (click)="onconfirm()" class="btn btn-success">Reset Password</button>
            </div>

            
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
